body {
    padding-right: 8%;
    padding-left: 8%;
}
.navbar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}
.content {
    margin-top: 50px;
}