<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBC 281.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>20260311</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A7D39B88BB83D350A22002B33769DB1492BB3A43</string>
				<key>dateExpires</key>
				<string>10/2/27</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A7D39B88BB83D350A22002B33769DB1492BB3A43</string>
						<key>dateExpires</key>
						<string>10/2/27</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FPGAZ7K989</string>
						<key>name</key>
						<string>TNG INVESTMENT AND TRADING JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FPGAZ7K989.vn.tre.cbc281</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cbc281.page.link</string>
				</array>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>FPGAZ7K989</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>FPGAZ7K989.vn.tre.cbc281</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CBC 281.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d3dde2e9-3af0-44a2-882d-6bbcfd3a2520</string>
				<key>dateExpires</key>
				<string>3/11/27</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: vn.tre.cbc281</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FPGAZ7K989</string>
				<key>name</key>
				<string>TNG INVESTMENT AND TRADING JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>26.3.11</string>
		</dict>
	</array>
</dict>
</plist>
